body {
    background-color: #C3F1FE;
    font-family: 'Assistant', sans-serif;
}

iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#gameArea {
    overflow: hidden;
    position: relative;
    height: 80vh;
    width: 90vw;
    margin: 0 auto;
}

.hide {
    display: none;
}

header {
    background-color: #EBEAE4;
    width: 100%;
    height: 50px;
    position: relative;
    direction: rtl;
    display: block;
    direction: rtl;
    z-index: 3;
}

/*לוגו*/
#logo {
    width: 40px;
    height: 40px;
    padding: 5px 15px;
    direction: rtl;
    float: right;
}


.instructions {
    position: relative;
    width: 750px;
    height: 420px;
}

.closeHowToPlay {
    cursor: pointer;
}

.closeAbout {
    cursor: pointer
}

    .closeAbout:hover .exit {
        opacity: 0.5;
    }

.closeHowToPlay:hover .exit {
    opacity: 0.5;
}

.exit {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.information {
    position: relative;
    width: 680px;
    height: 490px;
}

.sound {
    position: relative;
    top: -69px;
    right: 2px;
    font-family: Assistant;
    font-size: 12pt;
    color: black;
    font-weight: normal;
}

    .sound a:visited {
        color: purple;
    }

    .sound a:hover {
        opacity: 0.6;
    }

    .sound a {
        color: darkblue;
    }

.telem {
    position: relative;
    top: -140px;
    right: 5px;
    font-family: Assistant;
    font-size: 15pt;
    color: black;
    font-weight: normal;
}

    .telem a:visited {
        color: purple;
    }

    .telem a:hover {
        opacity: 0.6;
    }

    .telem a {
        color: darkblue;
    }

nav {
    margin-top: -70px;
    margin-left: 10px;
    direction: rtl;
    background-color: #B8D6D9;
}

    nav ul {
        list-style: none;
        direction: rtl;
    }

        nav ul li {
            display: inline-block;
            float: left;
            direction: rtl;
        }

            nav ul li a {
                display: block;
                color: black;
                text-align: center;
                padding: 10px 10px;
                font-weight: 400;
                font-size: 12pt;
                font-family: 'Assistant', sans-serif;
                direction: rtl;
                text-decoration: none;
            }

                nav ul li a:hover {
                    font-weight: 600;
                    cursor: pointer;
                    font-family: 'Assistant', sans-serif;
                    direction: rtl;
                    text-decoration: none;
                }

.popUp {
    background-color: #FEFEBE;
    width: 400px;
    height: 550px;
    position: fixed;
    top: 60px;
    z-index: 4;
    text-align: center;
    width: 800px;
    border-radius: 25px;
    padding: 10px;
    padding-bottom: 25px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    direction: rtl;
    border: 1px solid black;
}

closeHowToPlay:hover {
    opacity: 0.3;
    cursor: pointer;
}


.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.headsize {
    width: 300px;
}

.headsizetop {
    width: 300px;
}

@-webkit-keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}
